<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Web Workers & Worklets</title>

  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/rumyra.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/eighties.css">
  <!-- <link rel="stylesheet" href="assets/audio.css"> -->
  <script src="reveal/js/reveal.js"></script>
  <script src="scripts/d3.min.js"></script>

  <!-- <script src="https://js.pusher.com/3.0/pusher.min.js"></script> -->
  <!-- <link rel="stylesheet" href="visuals.css"> -->

  <style type="text/css">
    #screen {
      position: absolute; top:0px; left:0px;
      margin: 0px; padding: 0px;
      width:100vw; height:100vh;
      background-color: black;
      display: none;
    }
    svg {width: 100vw; height: 100vh; padding:0px; margin:0px;}
    .reveal h3 a {color:#8c4c6f;}
    .reveal h3 a:hover {color:#acc486;}
    .reveal h3 a:visited {color:#8c4c6f;}
  </style>

</head>

<!--

$green: #acc486
$orange: #ea8d88
$purple: #8c4c6f

$brown: #463c34
$cream: #eee5c4

$grey: #bebebe
-->

<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>How To Be A Web AV Artist: Part 2</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
            <p>State of the Browser!! Hello!</p>
            <p>So lovely to be back - I think last time I was here I was in the first few experiments to analysing audio and mixing video elements and using a games controller</p>
          </aside>
        </section>

        <!-- hex one -->
        <section data-background-color="#8c4c6f" data-state="hex">
          <audio src="media/llcool.mp3" data-autoplay id="warren"></audio>
          <h1>Cool intro slide</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>How To Be A Web AV Artist: Part 2</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
            <p>State of the Browser!! Hello!</p>
            <p>So lovely to be back - I think last time I was here I was in the first few experiments to analysing audio and mixing video elements and using a games controller</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Nothing has changed</h1>
          <h2 class="fragment fade-in">Everything has changed</h2>
          <aside class="notes">
            <p>No in all seriousness, everything has changed. In the past few years I've gone from creating, somewhat tripe, demos on stage, to playing full blown gigs.</p>
            <p>This was last weekend at EMF, it wasn't planned, but they needed someone to do visuals and I can do that. I mean this guy has a keytar - it's serious.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/things.gif">
          <h1>Missed it?</h1>
          <aside class="notes">
            <p>For those of you that have missed my life up until now - entirely possible</p>
            <p>Here's the run down</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Get sound</h1>
          <pre><code data-trim class="js">const audioCtx = new AudioContext;

function getStreamData() {
  return navigator.mediaDevices.getUserMedia({ audio: true, video: false })
    .then(stream => audioCtx.createMediaStreamSource(stream))
    .then(source => {
      source.connect(analyserNode);
    });
}
</code></pre>
          <aside class="notes">
            <p>So we can get sound via a media element, via a sound file, we can create sound - or here I'm streaming it via the mic</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Analyse that sound</h1>
          <pre><code data-trim class="js">
const freqSampleSize = 1024;

let analyserNode = new AnalyserNode(audioCtx, {
  fftSize: freqSampleSize*2,
  maxDecibels: -30,
  minDecibels: -100,
  smoothingTimeConstant: 0.8
});
            </code></pre>
          <aside class="notes">
            <p>Then I'm creating an analyser node - this is all via new and shiny methods by the way</p>
            <p>This returns an array of gain values of frequencies low to high</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>What?</h1>
          <h2 class="fragment fade-in">[24, 67, 15, 78, 104, 207, 136, 45, 52, 27, 18, 3, 6, 1, 0, 0, 0, 0, 0, 0, 0]</h2>
          <aside class="notes">
            <p>We then use that data to make visuals</p>
            <p>Bear in mind this is all browser apis - this is all native js - we can...</p>
            <p>Change the height of DOM elements</p>
            <p>Animate SVGs</p>
            <p>Which I did and I spoke about</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/asia.jpg">
          <h1>Gigs...</h1>
          <h2 class="fragment fade-in">Performance</h2>
          <aside class="notes">
            <p>I moved my entire piece of software over to use a canvas based visualisation system</p>
            <p>It was cleaner, faster and could deal with a lot more processing going on behind the scenes - or so I thought</p>
            <p>In November last year my software crashed life on stage - top tip keep your background something you don't mind showing and know your keyboard shortcuts!</p>
          </aside>
        </section>

        <!-- so this is actually a talk about: -->
        <section data-background-color="#acc486">
          <h1>One weird trick to being a Web AV Artist</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Web Workers & Worklets</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Hello everyone, let me introduce myself</p>
            <p>My name is Ruth and I do things with a browser that you really should not be allowed to do - then browsers give me functionality which enables me to do it betterer</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/etsy.jpg">
          <h1>Code Keyrings: SOTB18</h1>
          <h3><a href="https://www.etsy.com/uk/shop/MadeByRumyra?ref=seller-platform-mcnav">etsy.com/uk/shop/MadeByRumyra</a></h3>
          <aside class="notes">
            <p>Shameless plug - I sell laser cut code keyrings - please buy one, it means I can buy food</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-video="media/lemSin.mov">
          <h1>Web Workers</h1>
          <aside class="notes">
            <p>Let's talk for a minute about the way the browser processes all that code you write</p>
            <p>JS is single threaded</p>
            <p>When the browser is processing the code it can only deal with running one process thread. This can take time.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-video="media/lemMult.mov">
          <h1>Web Workers</h1>
          <aside class="notes">
            <p>Wouldn't it be cool if whilst that was going on, some of the things the browser had to do could happen else where, whilst the browser was still doing it's work.</p>
            <p>Separately and at the same time</p>
            <p>That's what a web worker is - it take processing off the main thread, and puts it on another.</p>
            <p>Makes it multi threaded</p>
            <p>Now we'll talk about problems in a minute but let's take a look at how it works</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemShrug.gif">
          <h1>Web Workers</h1>
          <h3 class="fragment fade-in">Separate script in file</h3>
          <h3 class="fragment fade-in">Object: use <code>Worker()</code> constructor</h3>
          <h3 class="fragment fade-in">Run in another global context</h3>
          <aside class="notes">
            <p>Its separate js code that runs in a separate file</p>
            <p>You use the worker constructor to create the object and pass in the name of the file</p>
            <p>Run in another global context than window which main thread is - thus using window and not self within a worker will cause an error - window is not accessible from a worker</p>
            <p>Neither is the DOM - not available from the worker</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Code!</h1>
            <pre><code data-trim class="js">// create a worker
var myWorker = new Worker('worker.js');
            </code></pre>
          <aside class="notes">
            <p>So let's create a worker within out main javascript</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemStop.gif">
          <h1>Web Workers</h1>
          <h3 class="fragment fade-in"><code>window</code>, <code>document</code>, <code>parent</code> not avail</h3>
          <h3 class="fragment fade-in">No DOM</h3>
          <h3 class="fragment fade-in">Some cache</h3>
          <h3 class="fragment fade-in">There's <code>XMLHttpRequest</code></h3>
          <h3 class="fragment fade-in"><code>setTimeout()/setInterval()</code></h3>
          <h3 class="fragment fade-in">Import scripts & create other workers</h3>
          <h3 class="fragment fade-in">List: <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Functions_and_classes_available_to_workers">https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Functions_and_classes_available_to_workers</a></h3>
          <aside class="notes">
            <p>It's all about not directly affecting the main page with a worker so...</p>
            <p>This means that window, navigator and parent objects are not available (self is)</p>
            <p>Neither is the DOM it is not thread safe</p>
            <p>But there is limited access to other APIs and methods</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemDig.gif">
          <h1>Dedicated Workers</h1>
          <h1>Shared Workers</h1>
          <aside class="notes">
            <p>I'm not going to go into this in too much detail - this talk is going to deal with dedicated workers and this is your read more homework</p>
            <p>Suffice to say a dedicated worker is called within the main script and destroyed when that script ends</p>
            <p>A shared worker does what is says on the tin, multiple pages can access it and you create it with a slightly different method.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemDie.gif">
          <h1>Terminating workers</h1>
          <h2>& Errors</h1>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
            <pre><code data-trim class="js">// error event
var myWorker = new Worker('worker.js');

myWorker.addEventListener('error', onError, false);

function onError(e) {
  // human readable message
  e.message
  // file error occurred
  e.filename
  // line num
  e.lineno
}

// kill a worker
myWorker.terminate();
            </code></pre>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemWalk.gif">
          <aside class="notes">
            <p>Cool</p>
          </aside>
        </section>


        <section data-background-color="#ea8d88">
          <h1>Pass some data</h1>
            <pre><code data-trim class="js">// create a new worker
var myWorker = new Worker('worker.js');

// send worker a message
myWorker.postMessage('Hey worker');
            </code></pre>

            <pre><code data-trim class="js">// in our worker.js
self.addEventListener('message', function(e) {
  // logs 'Hey worker'
  console.log(e.data);

  // send a message back
  self.postMessage('Hey main');
}, false);

// We could do self.onmessage('Hey worker' function...)
            </code></pre>
          <aside class="notes">
            <p>OK so we not only have to give the worker data but we also have to start it - this happens with the same thing - postmessage method</p>
            <p>This is also the same message we send back to the main script</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Listen for the data</h1>
            <pre><code data-trim class="js">// receive worker message
myWorker.addEventListener('message', function(e) {
  console.log('Worker said: ', e.data);
}, false);
            </code></pre>
          <aside class="notes">
            <p>Then we listen for that message and that data in our main script</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemAxe.gif">
          <h1>SIMPLE DEMO</h1>
          <h3><a href="https://codepen.io/Rumyra/project/editor/DvLjgn">https://codepen.io/Rumyra/project/editor/DvLjgn</a></h3>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>What Data Tho??</h1>
          <h3>Data: Copied</h3>
          <h3>Transferable</h3>
          <h3>SharedArrayBuffer</h3>
          <h3><a href="http://lucasfcosta.com/2017/04/30/JavaScript-From-Workers-to-Shared-Memory.html">http://lucasfcosta.com/2017/04/30/JavaScript-From-Workers-to-Shared-Memory.html</a></h3>
          <aside class="notes">
            <p>So in our example the data is copied over the worker.</p>
            <p>You can transfer it, so the data isn't available on the main thread whilst it's in the worker. This improves performance with large data sets - we're talking megabytes of data, otherwise loosing the data from the main thread needs to be carefully considered.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Transferrable</h1>
            <pre><code data-trim class="js">// transfer the data purlese
myWorker.postMessage(bigData, [bigData]);
            </code></pre>
          <aside class="notes">
            <p>Pretty simple to say you want to transfer the data</p>
            <p>When you post the message just pass in the data you want to make transferable with an array as an argument, like thus</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemShrug.gif" data-state="no-visuals">
          <h1>sharedArrayBuffer</h1>
            <!-- <pre><code data-trim class="js">// transfer the data purlese
myWorker.postMessage(bigData, [bigData]);
            </code></pre> -->
          <aside class="notes">
            <p>SharedArrayBuffer - ah the fire - so this was pulled because of spectre. It is available in Chrome 67 & I belive the latest FF behind flags.</p>
            <p>Basically it's shared data, so multiple threads can see it. Main or workers - remember workers can talk to each other</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88"  data-state="hexTwo">
          <aside class="notes">
            <p>Pretty simple to say you want to transfer the data</p>
            <p>When you post the message just pass in the data you want to make transferable with an array as an argument, like thus</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemAxe.gif"  data-state="no-visuals">
          <h1>COMPLEX DEMO</h1>
          <h3><a href="https://codepen.io/Rumyra/project/editor/ZznoOE">https://codepen.io/Rumyra/project/editor/ZznoOE</a></h3>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88"  data-state="hex">
          <aside class="notes">
            <p>Pretty simple to say you want to transfer the data</p>
            <p>When you post the message just pass in the data you want to make transferable with an array as an argument, like thus</p>
          </aside>
        </section>

        <section data-background-color="#acc486"  data-state="no-visuals">
          <h1>Worklets</h1>
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Yup, that&#39;s right - basically worklets allow us to run something within a stage of a browser engine, and make sure developers can&#39;t access something that will make the world explode. It also allows us to do a few optimizations if needed, i.e. run on different thread, caching, etc</p>&mdash; Ian Kilpatrick (@bfgeek) <a href="https://twitter.com/bfgeek/status/956245937390628864?ref_src=twsrc%5Etfw">January 24, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          <aside class="notes">
            <p>Now they all work in a similar way and actually one of the reasons it took 5 years for the audio worklet was because of houdini</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>CSS Houdini</h1>
          <h3><a href="https://houdini.glitch.me/">Spellbook</a></h3>
          <aside class="notes">
            <p>So this is all part of a bigger spec coming out called Houdini - it basically gives developers lower level access to CSS and the underlying technologies</p>
            <p>So instead of the constraints of say flexbox - you can create your own flexbox. If you're not happy with the fact conic gradient isn't well supported yet, you can make it.</p>
            <p>Very new, very experimental, will change</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>CSS Paint API</h1>
          <pre><code data-trim class="css">.container {background-image: paint(spiral);}
            </code></pre>

            <pre><code data-trim class="js">// in our main script
CSS.paintWorklet.addModule('scripts/spiral-orig.js');
            </code></pre>
          <aside class="notes">
            <p>So this is all part of a bigger spec coming out called Houdini - it basically gives developers lower level access to CSS</p>
            <p>In this case - this particular bit gives us the ability to paint a background - so we draw it on canvas and then push it as a background image to the css</p>
            <p>Only works in canary</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/lemBuild.gif">
          <h1>Simple Demo</h1>
          <h3><a href="https://codepen.io/Rumyra/project/editor/DKVagG">https://codepen.io/Rumyra/project/editor/DKVagG</a></h3>
          <aside class="notes">
            <p>Explain</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/lemBuild.gif">
          <h1>Less Simple Demo</h1>
          <h3><a href="https://codepen.io/Rumyra/project/editor/ZMKGzv">https://codepen.io/Rumyra/project/editor/ZMKGzv</a></h3>
          <aside class="notes">
            <p>Works in Chrome</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Web Audio Worklets</h1>
          <p>Put some code here</p>
          <aside class="notes">
            <p>So for as long as the Web Audio API specification has been out we've had this script processor node right - which has been depreciated, and we have been waiting for this</p>
            <p>A huge part of the audio api is processing data - audio data. If we do this on the main thread other things get in the way - and the way the audio api fixes this is by skipping. The ear does not like things going out of sync.</p>
            <p>This is why this is such a great thing</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/lemClimb.gif">
          <h1>Demo</h1>
          <h3><a href="https://googlechromelabs.github.io/web-audio-samples/audio-worklet/">https://googlechromelabs.github.io/web-audio-samples/audio-worklet/</a></h3>
          <h3><a href="https://dsp.audio/editor/">https://dsp.audio/editor/</a></h3>
          <aside class="notes">
            <p>So for as long as the Web Audio API specification has been out we've had this script processor node right - which has been depreciated, and we have been waiting for this</p>
            <p>A huge part of the audio api is processing data - audio data. If we do this on the main thread other things get in the way - and the way the audio api fixes this is by skipping. The ear does not like things going out of sync.</p>
            <p>This is why this is such a great thing</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Offscreen Canvas</h1>
          <pre><code data-trim class="js">const offscreenCan = new OffscreenCanvas(50,50);
var twoD = offscreenCan.getContext('2d');

twoD.strokeStyle = 'red';
twoD.beginPath()
twoD.moveTo(10,10);
twoD.lineTo(50,50);
twoD.closePath();
twoD.stroke();

var bitmap = offscreenCan.transferToImageBitmap();
canvas.transferFromImageBitmap(bitmap);
</code></pre>
          <aside class="notes">
            <p>Totally worth a mention considering the VR enthusiast we have in the audience</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/lemScoop.gif">
          <h1>Simple Demo</h1>
          <h3><a href="https://codepen.io/Rumyra/pen/NzOBNr?editors=0110">https://codepen.io/Rumyra/pen/NzOBNr?editors=0110</a></h3>
          <aside class="notes">
            <p>Only works in canary</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/lemScoop.gif">
          <h1>Complex Demo</h1>
          <h3><a href="https://codepen.io/Rumyra/project/editor/AOzEPP">https://codepen.io/Rumyra/project/editor/AOzEPP</a></h3>
          <aside class="notes">
            <p>Only works in canary</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>It's all interesting</h1>
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">worklets that fetch api data, worklets that serve as state-managers, worklets that access the browser db... exciting</p>&mdash; tjmonsi (@tjmonsi) <a href="https://twitter.com/tjmonsi/status/956310578393268225?ref_src=twsrc%5Etfw">January 24, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/livejs.jpg" >
          <h1>It's all interesting</h1>
          <aside class="notes">
            <p>Whatever you use it for - just like es6 modules, it's going to shake up the way we architect applications</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-video="media/vjotg.mp4" >
          <h1>Ada and I</h1>
          <h2>VJ-OTG</h2>
          <aside class="notes">
            <p>Whatever you use it for - just like es6 modules, it's going to shake up the way we architect applications</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>The Demos</h1>
          <h3>https://codepen.io/Rumyra</h3>
          <aside class="notes">
            <p>Whatever you use it for - just like es6 modules, it's going to shake up the way we architect applications</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/lemBye.gif">
          <h1>Ruth John</h1>
          <h1>@Rumyra</h1>
          <p>Thank You Very Much</p>
          <aside class="notes">
            <p>Thank you for bearing with - there's a feedback form - anonymous, can pop the link in slack. I would like to get feedback now before I take this talk further</p>
          </aside>
        </section>

<!-- THIS IS IMPORTANT "0x" + x.toString(16); -->
      </section>
    </div></div>

    <div id="screen"></div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="scripts/talkEvents.js"></script>

<script type="text/javascript">
// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</script>


</body>
</html>