<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />

  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>Web Workers & Worklets</title>

  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/rumyra.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/eighties.css">
  <!-- <link rel="stylesheet" href="assets/audio.css"> -->
  <script src="reveal/js/reveal.js"></script>
  <script src="scripts/d3.min.js"></script>

  <!-- <script src="https://js.pusher.com/3.0/pusher.min.js"></script> -->
  <!-- <link rel="stylesheet" href="visuals.css"> -->

  <style type="text/css">
    #screen {
      position: absolute; top:0px; left:0px;
      margin: 0px; padding: 0px;
      width:100vw; height:100vh;
      background-color: black;
      display: none;
    }
    svg {width: 100vw; height: 100vh; padding:0px; margin:0px;}
    .reveal h3 a {color:#8c4c6f;}
    .reveal h3 a:hover {color:#acc486;}
  </style>

</head>

<!--

$green: #acc486
$orange: #ea8d88
$purple: #8c4c6f

$brown: #463c34
$cream: #eee5c4

$grey: #bebebe
-->

<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>

        <section data-background-color="#8c4c6f">
          <h1>Web Workers & Worklets</h1>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Hey everyone - I don't need to intro myself too much - you all know me from places such as...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/slack.png">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Digital Oxford, jsoxford slack channel</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/summer.png">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>js oxford summer of hacks</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/gh.png">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Well named pull requests on jsoxford website</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Creative Engineer</p>
          <p>~ 15 Years</p>
          <p>Google Developer Expert</p>
          <aside class="notes">
            <p>I'm a creative engineer, legacy web dev. I've been doing this for about 15 years</p>
            <p>I'm a recognised Google Developer Expert in browser stuff and specifically audio and midi</p>
            <p>I work for myself - always on the look out for new projects</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Thanks for having me</h1>
          <img src="media/jo.jpg" />
          <img src="media/me.jpg" />
          <aside class="notes">
            <p>It is wonderful to be talking along side Jo this evening... for a number of reasons but one because:</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/seren.png">
          <aside class="notes">
            <p>I know the organisers did not plan to have a IWD themed jsoxford, which is the best thing. That the community here didn't try. I think this is the first meetup I have spoken at with an all female line up at IWD where it was natural.</p>
            <p>That, that's what it is about. That this is normal!</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Web Workers</h1>
          <h2>Full Disclosure</h2>
          <aside class="notes">
            <p>Longest intro ever!</p>
            <p>Web workers! yeah... let's start with the what, then the how, then what I really want to talk about which is owrkers in other specs.</p>
            <p>This is a brand new talk - I have never done it before, it is a first version so it is not a shiny end conference talk.</p>
            <p>I would luv afterwards (no q&a) afterwards to take feedback. What did you like, what didn't you like, could I have explained something better, was there anything you didn't understand</p>
            <p>Don't be scared I won't share that feedback, I will merely edit this talk</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemWalk.gif">
          <aside class="notes">
            <p>Cool</p>
          </aside>
        </section>

        <!-- <section data-background-color="#ea8d88">
          <h1>Web Workers</h1>
          <aside class="notes">

          </aside>
        </section> -->

        <section data-background-color="#ea8d88" data-background-video="media/lemSin.mov">
          <h1>Web Workers</h1>
          <aside class="notes">
            <p>Let's talk for a minute about the way the browser processes all that code you write</p>
            <p>JS is single threaded</p>
            <p>When the browser is processing the code it can only deal with running one process thread. This can take time.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-video="media/lemMult.mov">
          <h1>Web Workers</h1>
          <aside class="notes">
            <p>Wouldn't it be cool if whilst that was going on, some of the things the browser had to do could happen else where, whilst the browser was still doing it's work.</p>
            <p>Seperately and at the same time</p>
            <p>That's what a web worker is - it take processing off the main thread, and puts it on another.</p>
            <p>Makes it multi threaded</p>
            <p>Now we'll talk about problems in a minute but let's take a look at how it works</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemShrug.gif">
          <h1>Web Workers</h1>
          <h3 class="fragment fade-in">Separate script in file</h3>
          <h3 class="fragment fade-in">Object: use <code>Worker()</code> constructor</h3>
          <h3 class="fragment fade-in">Run in another global context</h3>
          <aside class="notes">
            <p>Its separate js code that runs in a separate file</p>
            <p>You use the worker constructor to create the object and pass in the name of the file</p>
            <p>Run in another global context than window which main thread is - thus using window and not self within a worker will cause an error - window is not accessible from a worker</p>
            <p>Neither is the DOM - not available from the worker</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
            <pre><code data-trim class="js">// create a worker
var myWorker = new Worker('worker.js');
            </code></pre>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemStop.gif">
          <h1>Web Workers</h1>
          <h3 class="fragment fade-in"><code>window</code>, <code>document</code>, <code>parent</code> not avail</h3>
          <h3 class="fragment fade-in">No DOM</h3>
          <h3 class="fragment fade-in">Some cache</h3>
          <h3 class="fragment fade-in">There's <code>XMLHttpRequest</code></h3>
          <h3 class="fragment fade-in"><code>setTimeout()/setInterval()</code></h3>
          <h3 class="fragment fade-in">Import scripts & create other workers</h3>
          <h3 class="fragment fade-in">List: <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Functions_and_classes_available_to_workers">https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Functions_and_classes_available_to_workers</a></h3>
          <aside class="notes">
            <p>This means that window, navigator and parent objects are not available (self is)</p>
            <p>Neither is the DOM it is not thread safe</p>
            <p>But there is limited access to other APIs and methods</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemDig.gif">
          <h1>Dedicated Workers</h1>
          <h1>Shared Workers</h1>
          <aside class="notes">
            <p>I'm not going to go into this in too much detail - this talk is going to deal with dedicated workers and this is your read more homework</p>
            <p>Suffice to say a dedicated worker is called within the main script and destroyed when that script ends</p>
            <p>A shared worker does what is says on the tin, multiple pages can access it and you create it with a slightly different method.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemDie.gif">
          <h1>Terminating workers</h1>
          <h2>& Errors</h1>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
            <pre><code data-trim class="js">// error event
var myWorker = new Worker('worker.js');

myWorker.addEventListener('error', onError, false);

function onError(e) {
  // human readable message
  e.message
  // file error occurred
  e.filename
  // line num
  e.lineno
}

// kill a worker
myWorker.terminate();
            </code></pre>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemWalk.gif">
          <aside class="notes">
            <p>Cool</p>
          </aside>
        </section>


        <section data-background-color="#ea8d88">
          <h1>Pass some data</h1>
            <pre><code data-trim class="js">// create a new worker
var myWorker = new Worker('worker.js');

// send worker a message
myWorker.postMessage('Hey worker');
            </code></pre>

            <pre><code data-trim class="js">// in our worker.js
self.addEventListener('message', function(e) {
  // logs 'Hey worker'
  console.log(e.data);

  // send a message back
  self.postMessage('Hey main');
}, false);
            </code></pre>
          <aside class="notes">
            <p>OK so we not only have to give the worker data but we also have to start it - this happens with the same thing - postmessage method</p>
            <p>This is also the same message we send back to the main script</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Listen for the data</h1>
            <pre><code data-trim class="js">// receive worker message
myWorker.addEventListener('message', function(e) {
  console.log('Worker said: ', e.data);
}, false);
            </code></pre>
          <aside class="notes">
            <p>Then we listen for that message and that data in our main script</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/lemAxe.gif">
          <h1>DEMO</h1>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Where would you use this?</h1>
          <h3><a href="https://restaurantmenubuilder.com/">https://restaurantmenubuilder.com/</a></h3>
          <h3>By <a href="https://twitter.com/Tevko">https://twitter.com/Tevko</a></h3>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Maths!</h1>
          <h3><a href="https://afshinm.github.io/50k/">https://afshinm.github.io/50k/</a></h3>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>What??</h1>
          <h3>Data: Copied</h3>
          <h3>Transferable</h3>
          <h3>Shared</h3>
          <h3><a href="http://lucasfcosta.com/2017/04/30/JavaScript-From-Workers-to-Shared-Memory.html">http://lucasfcosta.com/2017/04/30/JavaScript-From-Workers-to-Shared-Memory.html</a></h3>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#ea8d88">
          <h1>Resources</h1>
          <h3><a href="https://github.com/GoogleChromeLabs/comlink">https://github.com/GoogleChromeLabs/comlink</a></h3>
          <h3><a href="https://github.com/GoogleChromeLabs/clooney">https://github.com/GoogleChromeLabs/clooney</a></h3>
          <h3><a href="https://medium.com/@JoubranJad/running-fetch-in-a-web-worker-700dc33ac854">https://medium.com/@JoubranJad/running-fetch-in-a-web-worker-700dc33ac854</a></h3>
          <aside class="notes">
            <p>comlink aims to make the post message stuff more useable - rather than just writing post message all the time you can share vars</p>
            <p>classes given to clooney will be instantiated and run inside a worker - class can not rely on it's surrounding scope -> could change workers are looking to support es6 modules</p>
            <p>Running fetch in a worker - seems superfluous but there's an example none the less</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Worklets</h1>
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Yup, that&#39;s right - basically worklets allow us to run something within a stage of a browser engine, and make sure developers can&#39;t access something that will make the world explode. It also allows us to do a few optimizations if needed, i.e. run on different thread, caching, etc</p>&mdash; Ian Kilpatrick (@bfgeek) <a href="https://twitter.com/bfgeek/status/956245937390628864?ref_src=twsrc%5Etfw">January 24, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          <aside class="notes">
            <p>Now they all work in a similar way and actually one of the reasons it took 5 years for the audio worklet was because of houdini</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>CSS Paint API</h1>
          <pre><code data-trim class="css">.container {background-image: paint(spiral);}
            </code></pre>

            <pre><code data-trim class="js">// in our main script
CSS.paintWorklet.addModule('scripts/spiral-orig.js');
            </code></pre>
          <aside class="notes">
            <p>So this is all part of a bigger spec coming out called Houdini - it basically gives dveelopers lower level access to CSS</p>
            <p>In this case - this particular bit gives us the ability to paint a background - so we draw it on canvas and then push it as a background image to the css</p>
            <p>Only works in canary</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/lemBuild.gif">
          <h1>Demo</h1>
          <aside class="notes">
            <p>Only works in canary</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Web Audio Workets</h1>
          <p>Put some code here</p>
          <aside class="notes">
            <p>So for as long as the Web Audio API specification has been out we've had this script processor node right - which has been depreciated, and we have been waiting for this</p>
            <p>A huge part of the audio api is processing data - audio data. If we do this on the main thread other things get in the way - and the way the audio api fixes this is by skipping. The ear does not like things going out of sync.</p>
            <p>This is why this is such a great thing</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/lemClimb.gif">
          <h1>Demo</h1>
          <h3><a href="https://googlechromelabs.github.io/web-audio-samples/audio-worklet/">https://googlechromelabs.github.io/web-audio-samples/audio-worklet/</a></h3>
          <aside class="notes">
            <p>So for as long as the Web Audio API specification has been out we've had this script processor node right - which has been depreciated, and we have been waiting for this</p>
            <p>A huge part of the audio api is processing data - audio data. If we do this on the main thread other things get in the way - and the way the audio api fixes this is by skipping. The ear does not like things going out of sync.</p>
            <p>This is why this is such a great thing</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Offscreen Canvas</h1>
          <pre><code data-trim class="js">const offscreenCan = new OffscreenCanvas(50,50);
var twoD = offscreenCan.getContext('2d');

twoD.strokeStyle = 'red';
twoD.beginPath()
twoD.moveTo(10,10);
twoD.lineTo(50,50);
twoD.closePath();
twoD.stroke();

var bitmap = offscreenCan.transferToImageBitmap();
canvas.transferFromImageBitmap(bitmap);
</code></pre>
          <aside class="notes">
            <p>Totally worth a mention considering the VR enthusiast we have in the audience</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/lemScoop.gif">
          <h1>Demo</h1>
          <aside class="notes">
            <p>Only works in canary</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>It's all interesting</h1>
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">worklets that fetch api data, worklets that serve as state-managers, worklets that access the browser db... exciting</p>&mdash; tjmonsi (@tjmonsi) <a href="https://twitter.com/tjmonsi/status/956310578393268225?ref_src=twsrc%5Etfw">January 24, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/livejs.jpg" >
          <h1>It's all interesting</h1>
          <aside class="notes">
            <p></p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/asia.jpg" >
          <h1></h1>
          <aside class="notes">
            <p>I started down this path because I have a piece of software which I use to run visuals. It's all run locally, but it's written in JS - so I can control the functionality I have</p>
            <p>I've run into performance problems - like big ones. I'm analysing audio, re-analysing, I'm redrawing.</p>
            <p>I'm really interested in the media side of it</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/lemBye.gif">
          <h1>Ruth John</h1>
          <h1>@Rumyra</h1>
          <h3><a href="https://goo.gl/forms/YVgeXsg5L9DPdXy12">https://goo.gl/forms/YVgeXsg5L9DPdXy12</a></h3>
          <p>Thank You Very Much</p>
          <aside class="notes">
            <p>Thank you for bearing with - there's a feedback form - anonymous, can pop the link in slack. I would like to get feedback now before I take this talk further</p>
          </aside>
        </section>

<!-- THIS IS IMPORTANT "0x" + x.toString(16); -->
      </section>
    </div></div>

    <div id="screen"></div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="scripts/talkEvents.js"></script>

<script type="text/javascript">
// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</script>


</body>
</html>