<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="assets/audio.css" />

  <style type="text/css">
    button {width: 50vw; margin: 40px auto;}
  </style>
  <title>Simple worker example</title>
</head>

<body>
<div class="container">
  <button>Say hello to worker</button>
</div>

<script type="text/javascript">

  // grab some dom
  const button = document.querySelector('button');

  // create new worker
  var worker = new Worker('scripts/simple-worker.js');

  // send data to worker
  button.addEventListener('click', function(e) {
    e.preventDefault;
    worker.postMessage('Button said hello!');
  }, false);

  worker.addEventListener('message', function(e) {
    console.log(e.data);
  }, false)

</script>
</body>

</html>

